*{
    padding :0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(230, 231, 231);
}
#container{
    height: 70vh;
    width:35vw;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    margin-top: 120px;
    overflow: hidden;
}
#top{
    background-color: royalblue;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#top #img{
    background-color: red;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}
#top #img img{
    object-fit: cover;
    width: 110%;
    object-position: bottom;
}
#bottom{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#bottom h1{
    margin: 5px;
}
#social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    margin-top: 15px;
}
#social .handles{
    width: 25px;
}
#social .handles:hover{
    cursor: pointer;
}
#btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
#btns .btn:hover{
    cursor: pointer;
}
#btns .btn{
    padding: 9px 20px;
    background-color: royalblue;
    border-radius: 50px;
    border: none;
    color: white;
    margin: 10px;
}
#activity{
    display: flex;
    align-items: center;
    gap:5px;
}
.items{
    width: 15px;
    margin: 7px;
    border-left: 1px solid black;
    padding: 2px;
}
.items:first-child{
    border-left: none;
}